[Desktop Entry]
Name=Pomodoro
GenericName=Pomodoro Technique
Comment=Time Management App
Categories=Utility;Office;
Exec=com.github.aimproxy.PomodoroApp
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Pomodoro;Time Management;Pomodoro Technique;
